{% extends 'generic_base.html' %}

{% block content %}


<main class="mt-5 pt-5">
{{calendar}}
  <div class="clear-fix">
  <a class="btn btn-info left" href="{% url 'Events:calendar' %}?{{ prev_month }}"> Previous Month </a>
  <a class="btn btn-info right" href="{% url 'Events:calendar' %}?{{ next_month }}"> Next Month </a>
</div>


    


</main>
 <script>
// When the user clicks on div, open the popup
function myFunction() {
  var popup = document.getElementById("myPopup");
  popup.classList.toggle("show");
}
</script>

{% endblock %}

{% block footer %}


{% endblock %}
