{% extends 'generic_base.html' %}

{% block content %}

<style>
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.5px;
    border-color:#5bc0de;
} 
</style>

<main class="mt-5 pt-5">
  <!-- messages -->
  <div class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <div class="container">
    <section class="mt-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-8 mb-4">
          <!--Featured Image-->
          <div class="card mb-4 wow fadeIn">
            <img src="{{event.picture.url}}" class="img-fluid" alt="" style="height: 20rem;width:50rem;">
          </div>
          <div class="wow fadeIn">
            <!--Section heading-->
            <h2 class="h1 mb-9 mt-4" style="text-align: left; font-weight: 1000;">
              {% if event.venue.check_status_venue %}
                  WEBINAR - {{event.name}}
              {% else %}
                  EVENT - {{event.name}}
              {% endif %}
            </h2>

            <!--Section description-->
            <h5 class="mt-4" style="text-align: left; font-weight: 1000;"> Event Description :</h5>
            <p class="mt-4 text-black-50 font-weight-light" style="text-align: left;">{{event.description}} </p>
            <div class="container mt-4">
              <!-- Registration form|button -->
              <form action="{{event.get_absolute_url}}" method="post">
                {% csrf_token %}
                  <button type="submit" class="btn btn-outline-info btn-lg btn-block">Register Now</button>
              </form>
            </div>
          </div>
        </div>

        <!--Grid column-->
        <div class="col-md-4 mb-4">
          <!--Card : Dynamic content wrapper-->
          <div class="card mb-4 text-center wow fadeIn">
            <!--Card content-->
            <div class="card-body">
              <!-- Date -->
              <h5><i class="far fa-calendar-alt text-info"></i><b> DATE</b></h5>
              <div class="grey-text">{{event.day}}</div>
                <hr>
                <!-- Time -->
                <h5><i class="far fa-clock text-info" ></i><b> TIME</b></h5>
                <div class="grey-text">START TIME : {{event.start_time}} <br>
                  END TIME : {{event.end_time}}
                </div>
                <hr>
                <!-- Cost -->
                <h5><i class="fas fa-hand-holding-usd text-info"></i><b> COST</b></h5>
                <div class="grey-text">
                  {% if event.cost == 0 %}
                    Free
                  {% else %}
                    {{event.cost}}
                  {% endif %}
                </div>
                <hr>
                <!-- Label -->
                <h5><i class="fas fa-tags text-info"></i><b> LABEL</b></h5>
                <div class="grey-text">{{event.get_label_display}}</div>
                <hr>
                <!-- Category -->
                <h5><i class="fas fa-folder text-info"></i><b> CATEGORY</b></h5>
                  <div class="grey-text">
                     <br/>{% for category in event.categories.all %}{{category}}<br/>{% endfor %}
                  </div>
            </div>
          </div>
          <!--/.Card : Dynamic content wrapper-->

          <!--Card : Dynamic content wrapper-->
          <div class="card mb-4 text-center wow fadeIn">
            <div class="card-header"><h4><b>VENUE</b></h4></div>
              <!--Card content-->
              <div class="card-body">
                <!-- Venue -->
                <h5><b> VENUE NAME </b></h5>
                <div class="grey-text">{{event.venue.name}}</div> <hr>
                   <h5><i class="fas fa-map-marker-alt text-info"></i><b> LOCATION</b></h5>
                <div class="grey-text">{{event.venue.address}}</div>
              </div>
          </div>
          <!--/.Card : Dynamic content wrapper-->

          <!--Card : Dynamic content wrapper-->
          <div class="card mb-4 text-center wow fadeIn">
              <div class="card-header"><h4><b>ORGANIZERS</b></h4></div>
              <!--Card content-->
              <div class="card-body">
                {% for organizer in event.event_manager.all %}
                  <div class="grey-text">
                    <div class="media">
                      <img class="d-flex ml-4 mr-4 mx-auto" src="{{organizer.organizer_picture.url}}" alt="Generic placeholder image"
                      style="height: 10rem;width: 100%;">
                    </div>
                    NAME {{organizer.name}} <br>
                    PHONE {{organizer.phone}} <br>
                    EMAIL {{organizer.email_address}} <br>
                    {% if website %} WEBSITE {{organizer.website}} {% endif %} <br>
                  </div>
                {% endfor %}
              </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  
{% comment %}
<img src="{{event.picture.url}}" class="img-responsive" style="height: 400px"> <br>
{% if event.venue.check_status_venue %}
 	Webinar
{% else %}
 	Event
{% endif %}
<h1>Name: {{event.name}}</h1> <br>
<h3>Event Description: <br> {{event.description}}</h3> <br>

<h2> Schedule </h2>
<h5>Date: {{event.day}}</h5>
<h5>Start Time: {{event.start_time}} </h5>
<h5>End Time: {{event.end_time}}</h5>

<h2> Cost </h2>
{% if event.cost == 0 %}
	Free
{% else %}
	{{event.cost}}
{% endif %}

<h2> Label: {{event.get_label_display}} </h2>
<h2>Category: <br/>{% for category in event.categories.all %}{{category}}<br/>{% endfor %}</h2>

<h2> Location </h2>
{{event.venue.get_venue_status_label_display}}
{{event.venue.name}} </br>
{% if event.venue.address %}
{{event.venue.address}}
{% endif %}

<h2> Organizer </h2>
{% for organizer in event.event_manager.all %}
	<img src="{{organizer.organizer_picture.url}}" class="img-responsive" style="height: 100px"> <br>
	Name: {{organizer.name}} </br>
	Phone: {{organizer.phone}} </br>
	Email: {{organizer.email_address}} </br>
	{% if website %} Website: {{organizer.website}} {% endif %} </br>
{% endfor %}

<form action="{{event.get_absolute_url}}" method="post">
	{% csrf_token %}
	<input type="submit" value="Register">
</form>

</div>
{% endcomment %}

</main>

{% endblock %}
