


<div id="content" class="colM">
        
        <h1>Change author</h1>
        <div id="content-main">


  <ul class="object-tools">
    
      

<li>
    
    <a href="/admin/Articles/author/1/history/" class="historylink">History</a>
</li>



    
  </ul>


<form enctype="multipart/form-data" action="" method="post" id="author_form" novalidate=""><input type="hidden" name="csrfmiddlewaretoken" value="1vOH18JdUHb5NqtvVF6my9mBOiCOQTPaZgrc2hIp9MruSpame00vbf4PJQU8mCSO">
<div>


    <script type="text/javascript" id="django-admin-form-add-constants" src="/static/admin/js/change_form.js">
    </script>




<script type="text/javascript" id="django-admin-prepopulated-fields-constants" src="/static/admin/js/prepopulate_init.js" data-prepopulated-fields="[]">
</script>


</div>
</form></div>

        
        <br class="clear">
    </div>
