/*
  table.calender td {
     border: 6px solid rgb(221, 221, 221);
      padding: 20px;
    text-align: center;
  }
  table.calender th {
      padding: 15px 0px;
      text-align: center;
  }
  th.month {
      display: none;
  }
  table.calender, th, td {
    border: 3px solid black;
  }
  th, td {
    padding: 15px;
  }
  td#d1 {
    background-color: #f1f1c1;
  }

th.month {
  padding: 100px;
}*/

.calendar {
  width: 40%;
  height: 1%;
  margin: auto;
  font-size: 13px;
}

.calendar tr, .calendar td {
  border: 2px solid black;
}

.calendar th {
  padding: 5px;
  text-align: center;
  font-size: 30px;
}

.calendar td {
  width: 30rem;
  height: 3rem;
  padding: 20px;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}

td#d1 {
  background-color: #f1f1c1;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

a {
  color: #17a2b8;
}


.left {
  float: left;
}

.right {
  float: right;
}

.btn {
  outline: none;
  color: black;
  background-color: transparent;
  box-shadow: 0 0 0 0;
}

.clearfix {
  margin: 15px;
}

.circle {
  background: red;
  border-radius:50%;
  color: black;
  display:table;
  height: 200px;
  font-weight: bold;
  font-size: 1.2em;
  width: auto;
  margin:0 auto;
}