{% extends 'generic_base.html' %}

{% block content %}
<main class="mt-5 pt-5">
  {% if email_status %}
    <div class=" container alert alert-info" role="alert">
      <h5 style="text-align: center;">{{email_status}}</h5>
    </div>  
  {% endif %}
<div class="container mt-5">
  <form action="{% url 'Articles:contact-us' %}" method="post">
    {% csrf_token %}
    <!-- Heading -->
    <h3 class="dark-grey-text text-center">
      <strong>CONTACT US</strong>
    </h3>
    <div class="md-form">
      <i class="fas fa-user prefix text-info "></i>
        <!-- input -->
        {{form.name}} 
        <!-- label -->
        {{form.name.label_tag}}
    </div>
    <div class="md-form">
      <i class="fas fa-envelope prefix text-info "></i>
        <!-- input -->
        {{form.email}}
        <!-- label -->
        {{form.email.label_tag}}
    </div>
    <div class="md-form">
      <i class="fas fa-pencil-alt text-info prefix"></i>
        <!-- input -->
        {{form.message}}
        <!-- label -->
        {{form.message.label_tag}}
    </div>
    <!-- button|send -->
    <div class="text-center">
      <button type="submit" class="btn btn-info">Send</button>
    </div>
  </form>
  <!-- Form -->
</div>
</main>
{% endblock %}