{% extends 'generic_base.html' %}

{% block content %}
<main class="mt-5 pt-5">
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form method="post">
  {% csrf_token %}

    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body mx-3">
        <div class="md-form">
          <i class="fas fa-envelope prefix text-info"></i>
          <input type="email" name="login" class="form-control" autofocus="autofocus" required="" id="id_login">
          {{form.login.label_tag}}

        </div>
        

        <div class="md-form">
          <i class="fas fa-lock prefix text-info"></i>
          <input type="password" name="password" required="" id="id_password" class="form-control">
          {{form.password.label_tag}}
        </div>
      </div>
      <a class="text-center" href="{% url 'account_reset_password'%}">Forgot password?</a>
      <div class="modal-footer d-flex justify-content-center">
        <button class="login-btn btn btn-info" type="submit">Login</button>
      </div>
    </div>
  </form>
  </div>
</div>


<div class="text-center">
  <a href="" class="btn btn-info btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">Click Here For Login
    </a>
</div>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger container alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger container alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
</main>
{% endblock %}

{% block footer %}
{% endblock %}
