{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}
{% block form_top %}
{% comment %} id of list view original is builtin {{ original.pk }} {% endcomment %}
<fieldset class="module aligned wide extrapretty">
    <h2>Send Webinar attending link to attendees</h2>
    </fieldset>
  <a href="{% url 'admin:send_email' event_id=original.pk %}"> Send Email for Webinar </a>
  <fieldset class="module aligned wide extrapretty">
    <h2>Event Information</h2>
    </fieldset>
{% endblock %}
